<div class="admin-search">
  <%= form_tag(admin_movies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Movie", id: "search-form" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<table id="admin-table" class="pure-table pure-table-striped pure-table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>File Type</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= link_to movie, admin_movie_path(movie) %>
        </td>
        <td>
          <%= movie.release_year %>
        </td>
        <td>
          <%= movie.filetype %>
        </td>
        <td>
          <%= movie.quantity %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="new-button">
  <%= link_to 'New Movie', new_admin_movie_path, class:"buttons button-primary" %>
</div>
